<div class="card w-96 bg-blue-500 m-5 text-blue-100 shadow-xl">
    <figure class="px-10 pt-10">
      <img src={{result.image}} alt={{result.name}} class="rounded-xl" />
    </figure>
    <div class="card-body items-center text-center">
      <h2 class="card-title">{{result.name}}</h2>
      <p>Status:{{result.status}}</p>
      <p>Species:{{result.species}}</p>
      <p>Gender:{{result.gender}}</p>
      <p>Origin:{{result.origin.name}}</p>
      <p>Location:{{result.location.name}}</p>
      
    </div>
  </div>
